<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Recovery code</title>
    <style>
        #qrCodeDiv {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Welcome to COR-Identity!</h1>
    <p>We’re so glad you chose COR-Identity for your password and personal data management! We know what an important choice this is, and we’re honored to help you care for your most sensitive and important pieces of information.</p>
    <h3>This is your recovery code, please save it securely.</h3>
    <h4>{{recovery_code}}</h4>
    <h2>Important</h2>
    <p>Save this email in a secure location where you can access it on all your devices when needed. Since the QR Code / Restore code is the only way for you to be authenticated as the owner of your account, if you are not able to find it, you could be locked out of COR-Identity and lose all access to your information. To keep your information as secure as possible, there is no way for us to regenerate this code, so it is imperative you save it for later use.</p>
</body>
</html>